/*
 Theme Name:   Flat Theme LunarCannon Child
 Description:  Flat Theme for LunarCannon
 Author:       Ti Kawamoto
 Author URI:   http://www.lunarcannon.com
 Template:     flat-theme
 Version:      1.0.1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  flattheme
*/
body {
	padding-top:50px !important;
}
.navbar-brand{
	max-width:300px !important;
}

/* Temp stuff */
.navbar-toggle {
    margin-top: 25px;
    display: none;
}

/* End temp stuff */

.emerald{
	background-color:#D9534F !important;
	padding: 60px 0 25px 0px;
}
.emerald p{
	font-size:18px;
}
#services{
	color:#000 !important;
	background-color:#fff !important;
}

#services h3{
	color:#000 !important;
}

/* Slider */

#main-slider .next, #main-slider .prev{
	display:none !important;
}

#main-slider .carousel .btn {
	background-color: #e74c3c;
	border: none !important;
	font-size: 25px !important;
    padding: 15px 40px;	
}

#main-slider a{
	transition: 300ms;
}

#main-slider .carousel .btn:hover {
	background: #8E2C29 !important;
	color:#fff;	
}

.carousel-indicators{
	display:none !important;
}

.herohead{
	height:200px;
	background-position-y:50% !important;
	background-repeat:no-repeat;
}

.herocontainer{
	max-width:1170px;
	margin:auto;
	padding-top:125px;
}

.herotitle{
	margin:0px;
}

/* About */
.about-lc{
	text-align:left;
	color:#333;
	margin-top:0px;
	margin-bottom:3px;
}
.aboutcopy-lc{
	text-align:center;
	color:#333;
}
.aboutpanelcopy-lc{
	font-size:18px;
	text-align:left;
	color:#333;
}
.aboutpanelcopy-lc a{
	font-weight:500;
	color:#D9534F !important;
}
.aboutpanelcopy-lc a:hover{
	color:#A12E2A !important;
}
.aboutdiv-lc{
	background-color:#F5F5F5;
	margin-bottom:15px;
}

.main-icon{
	color:#D9534F;
	font-size:225px;
}
.about-img{
	max-width:525px;
	margin:auto;
}

/* Contact */
a.contactanchor{
	top: -98px;
    display: block;
    position: relative;
}

.contact-lc{
	text-align:center;
	color:#ffffff;
	margin-top:0px;
	margin-bottom:3px;
}
.contactcopy-lc{
	text-align:center;
	color:#ffffff;
}
.contactcopy-lc-panel{
	text-align:left;
	color:#ffffff;
}

.contactform-lc{
	background-color:#D9534F;
    padding-bottom: 15px;	
}

.grunion-field-label{
	color:#fff;
	font-size:18px;
	font-weight:400 !important;
}

.contact-form label span{
	color:#fff !important;
	font-weight:300 !important;
}

#g20-yourname{
	width:100% !important;
    border: none;
    border-radius: 2px;
	padding: 5px 10px;
}

#g20-youremail{
	width:100% !important;
    border: none;
    border-radius: 2px;
	padding: 5px 10px;
}

#g20-yournumber{
	width:100% !important;
	border: none;
    border-radius: 2px;
	padding: 5px 10px;
}

#g20-yourwebsite{
	width:100% !important;
	border: none;
    border-radius: 2px;
	padding: 5px 10px;
}

#contact-form-comment-g20-tellussomething{
	width:100% !important;
	border: none;
    border-radius: 2px;
	padding: 5px 10px;
}
.pushbutton-wide{
	background: #8E2C29;
    border: none;
    padding: 10px 100px;
    font-size: 25px;
	color:#FFF;
	font-weight:500;
	transition:.3s;
	display:block;
	margin:auto;
}

.pushbutton-wide:hover{
	background: #FFF;
	color:#D9534F;
	transition:.3s;
}

/* Footer */

.footer-logo{
	width: 150px;
    margin-bottom: 5px;
    opacity: .7;
}

/* About Page */
.about-page-copy{
	font-size: 18px;
	font-weight:400;
}

/* Blog */
.post .entry-thumbnail img{
	border-radius:0px !important;
}

.entry-thumbnail{
	margin: 0px -20px 20px !important;
}

.date{
	display:none !important;
}

.entry-content p{
	font-size:21px;
	line-height:1.58;
	letter-spacing:-0.003em;
}

.entry-title{
	font-size:40px;
	font-weight:500;
	margin-bottom:0px;
	margin-top:0px;
}

.entry-content h1{
	font-size:36px;
	font-weight:400;
}

.entry-content h2{
	font-size:30px;
	font-weight:300;
}

/* Media Query */

@media (min-width: 768px){
	
body{
	padding-top:50px !important;
}
.herocontainer {
	padding-left:15px;
	padding-right:15px;
    max-width: 750px;
}

#main-slider .carousel .btn {
	background-color: #e74c3c;
	border: none !important;
	font-size: 20px !important;
    padding: 10px 40px;	
}

.pushbutton-wide{
	background: #8E2C29;
    border: none;
    padding: 10px 40px;
    font-size: 18px;
    float: right;
	color:#FFF;
	font-weight:500;
	transition:.3s;
}
}

@media (min-width: 992px){
.herocontainer {
    max-width: 970px;
	padding-left:15px;
	padding-right:15px;
}

#main-slider .carousel .btn {
	background-color: #e74c3c;
	border: none !important;
	font-size: 20px !important;
    padding: 10px 40px;	
}

.pushbutton-wide{
	background: #8E2C29;
    border: none;
    padding: 10px 40px;
    font-size: 18px;
    float: right;
	color:#FFF;
	font-weight:500;
	transition:.3s;
}
}

@media (min-width: 1200px){
.herocontainer {
    max-width: 1170px;
	padding-left:15px;
	padding-right:15px;
}

#main-slider .carousel .btn {
	background-color: #e74c3c;
	border: none !important;
	font-size: 20px !important;
    padding: 10px 45px;	
}

.pushbutton-wide{
	background: #8E2C29;
    border: none;
    padding: 10px 40px;
    font-size: 18px;
    float: right;
	color:#FFF;
	font-weight:500;
	transition:.3s;
}
}